@use './styles/themes.scss' as *;
@use './styles/mixins.scss' as *;

// 全局 box-sizing 設置
*,
*::before,
*::after {
  box-sizing: border-box;
}

// 全局樣式
body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden; // 防止在移動設備上左右滑動

  @include mobile {
    padding: 0; // 移除行動裝置的 padding
  }
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
  padding: 1rem;

  @include mobile {
    padding: 0; // 移除行動裝置的 padding
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}